<div class="card text-center p-1">
    <a href="{{ path("article_detail", {"slug": article.slug}) }}">
        <img class="card-img" src="{{ asset("images/articles/"~ article.images[0].urlImage ) }}" alt="Photo de \"{{ article.titre }}\"" style="object-fit: contain; max-height: 200px;" />
    </a>

    <div class="card-body">
        <a href="{{ path("article_detail", {"slug": article.slug}) }}">
            <h5 class="card-title">
                {{ article.titre }}
            </h5>
        </a>
        <p class="card-text">{{ article.taille.libelle }}</p>
    </div>
</div>
