{% extends 'base.html.twig' %}

{% block main %}
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-green w3-xlarge w3-wide w3-animate-opacity ">BOOK <span class="w3-hide-small">YOUR</span> CLOTHES</span>
    </div>
</div>
<span>
    {{ form_start(form, {'attr': {'id': 'recherche'}}) }}
        <div class="form-row align-items-center">
            <div class="form-group col-md-3 col-lg-2">
                {{ form_label(form.type, 'Type', {'label_attr': {'class': 'd-md-none'}}) }}
                {{ form_widget(form.type) }}
            </div>
            <div class="form-group col-md-3 col-lg-2">
                {{ form_label(form.taille, 'Taille', {'label_attr': {'class': 'd-md-none'}}) }}
                {{ form_widget(form.taille, {'attr': {'placeholder': 'Taille'}}) }}
            </div>
            <div class="form-group col-md-3 col-lg-2">
                {{ form_label(form.marque, 'Marque', {'label_attr': {'class': 'd-md-none'}}) }}
                {{ form_widget(form.marque, {'attr': {'placeholder': 'Marque'}}) }}
            </div>
            <div class="form-group col-md-3 col-lg-2">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'd-md-none'}}) }}
                {{ form_widget(form.description, {'attr': {'placeholder': 'Description'}}) }}
            </div>
            <div class="form-group offset-md-8 col-md-2 offset-lg-0">
                {{ form_label(form.aVendre, 'A vendre') }}
                {{ form_widget(form.aVendre) }}
            </div>

            <button class="btn btn-primary col-md-2 mb-3">Rechercher</button>
        </div>
    {{ form_end(form) }}


    <div class="w3-content w3-container">
        {% for article in articles  %}
            {% if loop.index%4==1 %}
                <div class="w3-row">
            {% endif %}
            <div class="w3-container w3-quarter container_img" data-toggle="modal" data-target="#{{ article.id }}">
                <img src="{{ asset("images/articles/"~ article.images[0].urlImage ) }}"  style="width:100%" class="w3-hover-opacity" />
                <h5 class="text-center">
                    {{ article.titre }}
                </h5>
            </div>
            {% if loop.index%4==0 %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    {% for article in articles  %}
        <div class="modal fade" id="{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="detail_article" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <div class="modal-body">
                        {{ include('article/detail_article.html.twig') }}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block titre %}

{% endblock %}