{% extends 'base.html.twig' %}

{% block main %}

    {% if membres %}
        <h1>Accepter des membres</h1>

        <div class="row">
            {% for membre in membres %}
                <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-2">
                    <div class="card text-center">
                        {% if membre.image %}
                            <img src="{{ asset("images/users/"~ membre.image[0].urlimage ) }}" class="card-img" alt="Photo de \"{{ membre.username }}\"">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">
                                {{ membre.username }}
                            </h5>
                            <p class="card-text">{{ membre.mail }}</p>
                        </div>

                        <div class="card-footer">
                            <a href="{{ path("admin_acc_membre", {"membre": membre.id}) }}">Accepter</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if articles %}
        <h1>Accepter des articles</h1>

        <div class="row">
            {% for article in articles %}
                <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-2">
                    {{ include('container_image.html.twig', { 'canAccept': true, 'hasLink': false }) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    {% if actions %}
        <h1>Les dernières actions</h1>

        <div class="row">
            {% for action in actions %}
                {% set article = action.article %}
                <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-2">
                    {{ include('container_image.html.twig', { 'hasLink': false }) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}



{% endblock %}

{% block titre %}

{% endblock %}
