{% extends 'base.html.twig' %}

{% block main %}
    <div class="conteneur_article">
    
    	<div class='img'>
	        {% for image in article.images %}
	            <img src="{{ asset("images/articles/"~ image.urlImage ) }}" width="100%" height="100%"/>
	        {% endfor %}
		</div>
		
		<div class='presentation_article'>
        	<div>
        		<h2>{{ article.type.points }} my</h2>
        	</div>
        	
        	<div>
        		<h3>Quartier : {{ article.user.localite }}</h3>
        	</div>
        	
        	<div>
        		<h3>Marque : {{ article.marque }}</h3>
        	</div>
        	
        	<div>
        		<h3>Taille : {{ article.taille.libelle }}</h3>	
        	</div>
        	
        	<div>
        		<h3>Prix et caution : {{ article.caution }}</h3>
        	</div>
        	
        	<div>
        		<img src="{{ asset("images/users/"~article.user.image[0].urlImage ) }}" width="10%" height="10%"/>
        		<div>
        			{{ article.user.username }}
        		</div>
        	</div>
        	
            {% if app.user.estAccepte %}
                {% if article.user == app.user %}
                    <a class="btn" href="{{ path("article_modifier", {"slug": article.slug }) }}">Modifier</a>
                {% else %}
                    <a class="btn" href="{{ path("action_location", {"slug": article.slug }) }}">Louer</a>
                    {% if article.aVendre %}
                        <a class="btn" href="{{ path("action_achat", {"slug": article.slug }) }}">Acheter</a>
                    {% endif %}
                {% endif %}
	        {% else %}
	            <a class="btn" href="{{ path('user_create') }}">S'inscrire</a>
	            <a class="btn" href="{{ path('connect') }}">Se connecter</a>
	        {% endif %}
		</div>
    </div>

{% endblock %}

{% block titre %}

{% endblock %}

