
<div class="container-fluid" role="dialog">
    <div class="article-detail">
        <div class="row">
            <div class="pictures col-md-6 text-center mb-2">
                <div class="main-picture">
                    <img src="{{ asset("images/articles/"~ article.images[0].urlImage ) }}" class="img-fluid" style="width: 100%" />
                </div>
            </div>
            <div class="article-info col-md-6 text-center text-md-left mb-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-uppercase"><small>{{ article.type.libelle }} • {{ article.marque }}</small></h6>
                        <h5 class="card-title mb-2 display-4">{{ article.type.points }} points</h5>
                        <h6 class="card-title mb-2">Caution : {{ article.caution }}€</h6>
                        <p class="card-text text-muted"></p>
                        <hr />
                        <div class="row">
                            <p class="card-text offset-sm-2 col-sm-4 offset-md-0"><span class="oi oi-people"></span>{{ article.taille.libelle }}</p>
                            <p class="card-text col-sm-4"><span class="oi oi-map-marker"></span> Nantes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


﻿
